* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #F5F5F5;
  color: #F5F5F5;
  line-height: 1.6;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #F5F5F5;
}

.nav-container {
  background-color: #0D00FF;
  border-radius: 12px;
  padding: 10px 20px;
  position: relative;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #F5F5F5;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
}

.navbar a:hover {
  background-color: #0D00FF;
  color: #aca8ff;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background-color: #0D00FF;
  color: #F5F5F5;
  border-radius: 8px;
}

main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background: #0D00FF;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main > ul {
  color: #F5F5F5;
}

h2 {
  color: #F5F5F5;
}

.content-list {
  list-style: disc inside;
  margin-top: 15px;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
}

/* Burger menu */
.burger-menu {
  display: none;
  font-size: 30px;
  color: #F5F5F5;
  cursor: pointer;
  top: 10px;
  right: 20px;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #F5F5F5;
    color: #0D00FF;
    border: #0D00FF solid 2px;
    border-radius: 12px;
    padding: 10px 0;
    position: absolute;
    top: 50px;
    left: 0;
  }

  .navbar a {
    color: #0D00FF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
  }

  #menu-toggle:checked + .burger-menu + .navbar {
    display: flex;
  }

  .burger-menu {
    display: block;
  }
}

#title {
  font-size: 3em;
  margin-bottom: 10px;
}